*{
	margin:0;
	padding:0;
}
body{
	overflow:hidden;
	background-color:black;
	font-family:'Raleway',sans-serif;
}
#menudiv{
	position:absolute;
	background-color:#3D6DA7;

	opacity:.8;
	width:70px;
	height:70px;
	border-radius:4px;
	top:5px;
	left:5px;
	cursor:pointer;
}
#menudiv:hover{
	opacity:1;
}
#hamburger{
	width:50px;
	height:50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
}

#menu{
	position:fixed;
	//overflow-y:scroll;
	height:auto;
	z-index:30;
	top:0px;
	
	border:1px solid black;
	left:-100%;
	background-color:#3D6DA7;
	min-height:100%;
	width:40%;
	border-top:0px;
	box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);

}
#closeback{
	position:fixed;
	z-index:17;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	opacity:1;
	cursor:pointer;
}
#menu,#closeback{
	display:none;
}
.stacker,.stacktitle{
	width:100%;
	color:white;
	border:0px;
	border-bottom:1px solid black;
	font-size:15pt;
	height:50px;
	line-height:50px;
	text-align:center;
	//background-color:#262626;
	background-color:#3D6DA7;
	cursor:pointer;
}
.stacker:hover{
	background-color:#000099;
		padding:5px;
}
.stacktitle{

	border-bottom:2px solid black;
}
#tutvid{
	position:absolute;
	height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
	z-index:-10;
	border:0px;
}

#tslogo{

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index:-25;
}
#play{
	width:150px;
	height:150px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index:400;
	display:none;
}
#tutvid,#play{
	cursor:pointer;
}